.container {
  width: 600px;
  height: auto;
  margin: 0 auto;
}
.container .row {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.con-s-hide {
  display: none;
}
.con-s-1 {
  width: 8.33333333%;
  float: left;
}
.con-s-2 {
  width: 16.66666667%;
  float: left;
}
.con-s-3 {
  width: 25%;
  float: left;
}
.con-s-4 {
  width: 33.33333333%;
  float: left;
}
.con-s-5 {
  width: 41.66666667%;
  float: left;
}
.con-s-6 {
  width: 50%;
  float: left;
}
.con-s-7 {
  width: 58.33333333%;
  float: left;
}
.con-s-8 {
  width: 66.66666667%;
  float: left;
}
.con-s-9 {
  width: 75%;
  float: left;
}
.con-s-10 {
  width: 83.33333333%;
  float: left;
}
.con-s-11 {
  width: 91.66666667%;
  float: left;
}
.con-s-12 {
  width: 100%;
  float: left;
}
@media screen and (min-width: 800px) {
  .container {
    width: 800px;
  }
  .con-m-hide {
    display: none;
  }
  .con-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .con-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .con-m-3 {
    width: 25%;
    float: left;
  }
  .con-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .con-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .con-m-6 {
    width: 50%;
    float: left;
  }
  .con-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .con-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .con-m-9 {
    width: 75%;
    float: left;
  }
  .con-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .con-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .con-m-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .con-m-hide {
    display: block;
  }
  .con-s-hide {
    display: block;
  }
  .con-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .con-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .con-l-3 {
    width: 25%;
    float: left;
  }
  .con-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .con-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .con-l-6 {
    width: 50%;
    float: left;
  }
  .con-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .con-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .con-l-9 {
    width: 75%;
    float: left;
  }
  .con-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .con-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .con-l-12 {
    width: 100%;
    float: left;
  }
}
